$linkColor: #aaaaaa;

.item-list-container {
  width: 600px;
  display: flex;
  flex-flow: column;
  justify-items: center;
  margin: 22px auto;
  padding:10px;
  z-index: 10;
  color:#feffdb;
  background-color: rgba(0,0,0,0.1);
  transform: scale(0.9);
  .item {
    margin: 5px;
    padding: 10px;
    font-size: 0.7em;
    transition: all 500ms;
    background-color: rgba(0,0,0,0.1);
    border: solid 1px rgba(0,0,0,0.1);

    .title {
      font-size: 1.1em;
    }
    a{
      width: 600px;
      text-decoration: none;
      color: #79bcd6;
      margin: 1px 12px;
      &:hover {
        color: lighten( #22aaaa, $amount: 20%);
      }
    }
    .date {
      font-weight: 100;
      color:$linkColor;
      font-size: 0.7em;
      margin: 1px 12px;
    }

  }
}
    .item:hover {
      transform: scale(1.05);
      background-color: rgba(0,0,0,0.4);
    }


