$linkColor: #aaaaaa;

.item-list-container {
  width: 600px;
  display: flex;
  flex-flow: column;
  justify-items: center;
  margin: 122px auto;
  padding:10px;
  z-index: 10;
  color:#feffdb;
  background-color: rgba(0,0,0,0.1);
  .item {
    padding: 10px;
    font-size: 0.7em;
    .title {
      font-size: 1.1em;
    }
    a{
      width: 600px;
      text-decoration: none;
      color: #79bcd6;
      margin: 1px 12px;
      &:hover {
        color: lighten( #22aaaa, $amount: 20%);
      }
    }
    .date {
      font-weight: 100;
      color:$linkColor;
      font-size: 0.7em;
      margin: 1px 12px;
    }
  }
}