$linkColor: #aaaaaa;

.item-list-container {
  width: 600px;
  display: flex;
  flex-flow: column;
  justify-items: center;
  margin: 150px auto;
  padding:10px;
  z-index: 10;
  background-color: rgba(0,0,0,0.1);
  .item {
    padding: 10px;
    font-size: 0.7em;
    a{
      width: 600px;
      text-decoration: none;
      color:$linkColor;
      &:hover {
        color: lighten( $linkColor, $amount: 20%);
      }
    }
  }
}