.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .search-container {
    margin: 50px auto;
    form {
      display: flex;
      flex-flow: column;
      justify-items: center;
      color: #fff ;
      input {
        color: #fff ;
        height: 40px; 
        width: 200px;
        font-size: 1em;
        &[name="input"]{
          // color: #fff ;
          background-color: #282c34;
        }
        &[type="submit"]{
          background-color: #282c34;
        }
      }

    }
  }
}