$backgroundColor: #282c34;

.App {
  text-align: center;
}

.App-header {
  background-color:$backgroundColor;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .query-results {
    position: fixed;
    margin: 50px 0;
    padding: 10px 30px;
    background-color: #282c34;
  }

  .search-container {
    position: fixed;
    margin: 50px;
    left: 100px;

    form {
      display: flex;
      flex-flow: column;
      justify-items: center;
      color: #fff ;
      input {
        color: #fff ;
        height: 40px; 
        width: 200px;
        font-size: 1em;
        &[name="input"]{
          background-color: #000000;
        }
        &[type="submit"]{
          background-color: $backgroundColor;
          &:hover {
            background-color: darken($color: $backgroundColor, $amount: 5%);
          }
        }
      }

    }
  }

}